@import "../../styles/colors";
@import "../../styles/mixins";

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    color: $dark-smooth;
    position: relative;
    z-index: 2;
  }
}

.hero__title__span {
  color: $red-main;
  font-weight: bold;
}

.imageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 2rem;
  p {
    color: $white-smooth;
  }
}

.hero h1 {
  font-size: 2.6rem;
}

.hero p {
  font-size: 1.6rem;
}

.button {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 0.8rem 1.4rem;
  font-size: 1.6rem;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; // Dodano transform do animacji
  border-radius: 0.3rem;
  color: $dark-smooth;
  background-color: $white-smooth;
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2); // Subtelniejszy cień domyślny
  text-decoration: none;

  &:hover {
    box-shadow: 0.5rem 0.8rem 1rem rgba(0, 0, 0, 0.4),
      // Głębszy cień na hover
      0 0 1rem rgba(168, 67, 49, 0.5); // Dodatkowy, rozproszony cień
    transform: scale(1.05); // Lekkie powiększenie na hover
  }
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3.4rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .button {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 2.4rem;
  }

  .button {
    font-size: 2.4rem;
  }
}
