@import "../../styles/colors";

.projects {
  position: relative;
  max-height: 100%;
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  h3 {
    color: $grey-smooth-3;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
  }

  .sliderContainer {
    border-radius: 0.4rem;
    overflow: hidden;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;

    &One,
    &Two,
    &Four {
      font-size: 2rem;
      text-align: center;
      box-shadow: 0.2rem 0.4rem 2rem 0.2rem;
      background-color: rgba($grey-smooth, 0.4);
      border-radius: 0.4rem;
      width: 100%;
    }

    &Text {
      background-color: rgba($grey-smooth, 0.5);
      box-shadow: 0.2rem 0.4rem 2rem 0.2rem;
      margin: 1rem;
      padding: 1rem;
      color: $white-smooth;
      border-radius: 0.4rem;

      li {
        list-style-type: none;
      }
    }

    &Img {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $blue-gradient-solid2;
        z-index: 1;
      }
    }

    &Icon {
      color: $red-main;
      margin: 0.4rem;
    }
  }
}

.projects__boxImg img {
  object-fit: cover;
  width: 100%;
  max-height: 26.7rem;
  border-radius: 0.4rem;
}

.imageOverlay {
  text-decoration: none;
  color: $white-smooth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uiBtn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #cfb53b;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  border-radius: 0.4rem;
  z-index: 1;
}

.uiBtn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.uiBtn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.uiBtn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.uiBtn:hover,
.uiBtn:focus {
  background: var(--btn-hover-bg);
}

.uiBtn:hover span,
.uiBtn:focus span {
  color: var(--hover-btn-color);
}

.uiBtn:hover span::before,
.uiBtn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

.slickArrow {
  display: block;

  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.arrowIcon {
  font-size: 3rem;
}

.slickPrev {
  left: 1.5rem;

  transition: color 0.3s;

  &:hover {
    color: $red-main;
  }
}

.slickNext {
  right: 1.5rem;

  transition: color 0.3s;

  &:hover {
    color: $red-main;
  }
}

.slickPrev::before,
.slickNext::before {
  font-size: 20px;
  color: #fff;
}

@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "^{";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "'{+.'";
  }
  35% {
    content: "'@}-?'";
  }
  40% {
    content: "?{4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: "\\;1}]";
  }
  60% {
    content: "?{%:%";
    right: 0;
  }
  65% {
    content: "|{f[4";
    right: 0;
  }
  70% {
    content: "'4%0%'";
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: "'0%'";
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}

@media (min-width: 768px) {
  .projects {
    &__header {
      font-size: 3rem;
    }
    h3 {
      font-size: 3rem;
    }
    &__box {
      &Text {
        font-size: 3rem;
      }
      &Icon {
        font-size: 3rem;
      }
    }
  }

  .uiBtn {
    --btn-padding: 2rem 2.5rem;
    --font-size: 2.4rem;
  }
}

@media (min-width: 992px) {
  .projects {
    &__box {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      &Img {
        img {
          max-height: 27rem;
        }
      }
    }

    &__boxOne,
    &__boxTwo,
    &__boxFour {
      width: calc(45% - 2rem);
      margin: 0.5rem;
    }

    .sliderContainer {
      border: none;
      box-shadow: none;
    }
  }

  .uiBtn {
    --btn-padding: 1.5rem 2.5rem;
    --font-size: 2.5rem;
  }

  .slickArrow {
    top: 48%;
  }

  .slickPrev {
    left: 4rem;
  }

  .slickNext {
    right: 4rem;
  }
}
