@import "../../styles/colors";

.realizations {
  padding: 2rem;

  h2 {
    text-align: center;
    padding: 1rem;
  }

  h3 {
    color: $grey-smooth-3;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    border-radius: 0.8rem;
    width: 100%;
    margin: 1rem auto;

    &OT {
      font-size: 2rem;
      text-align: center;
      border: 1px solid black;
      box-shadow: 0.2rem 0.4rem 2rem 0.2rem;
      background-color: rgba($grey-smooth, 0.4);
      border-radius: 0.4rem;
      width: 100%;

      p {
        color: $white-smooth;
        margin: 1rem;
        padding: 1rem;
        background-color: rgba($grey-smooth, 0.5);
        box-shadow: 0.2rem 0.4rem 2rem 0.2rem;
        border-radius: 0.4rem;

        span {
          color: $red-main;
          font-weight: bold;
        }
      }
    }

    &Img {
      position: relative;
      padding: 0.2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $blue-gradient-solid2;
        z-index: 1;
      }
    }

    &Icon {
      color: $red-main;
      margin: 0.4rem;
      font-size: 2rem;
    }
  }

  &__boxOne {
    font-size: 2rem;
    h3 {
      font-size: 2.6rem;
    }
  }

  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;

    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }

  .modalContent {
    background-color: $grey-smooth-5;
    margin: auto;
    padding: 3rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    background-color: rgba($grey-smooth-5, 0.9);
    box-shadow: 0.2rem 0.4rem 2rem 0.2rem;
    max-width: 600px;
    position: relative;

    animation: slideIn 0.4s ease-in-out;
  }

  .close {
    color: $grey-smooth-2;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 9px;
    top: 3px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:focus,
    &:active {
      outline: none;
      color: $red-main;
    }

    @media screen and (min-width: 992px) {
      top: 0;
      font-size: 28px;
    }
  }

  .close:hover,
  .close:focus {
    color: $red-main;
    text-decoration: none;
    cursor: pointer;
  }

  .modalImage {
    width: 100%;
    height: 100%;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.realizations__motionDiv {
  width: 100%;
  align-items: center;
  display: flex;
}

.realizations__boxImg {
  display: flex;

  img {
    display: flex;
    object-fit: cover;
    align-items: center;
    width: 100%;
    max-height: 26.7rem;

    @media (min-width: 992px) {
      min-width: 100%;
      min-height: 100%;
      max-height: 30rem;
    }
  }
}

.imageOverlay {
  text-decoration: none;
  color: $white-smooth;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uiBtn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #cfb53b;
  --default-btn-color: #fff;
  --font-size: 16px;

  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  border-radius: 0.4rem;
  z-index: 1;
}

.uiBtn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.uiBtn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.uiBtn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.uiBtn:hover,
.uiBtn:focus {
  background: var(--btn-hover-bg);
}

.uiBtn:hover span,
.uiBtn:focus span {
  color: var(--hover-btn-color);
}

.uiBtn:hover span::before,
.uiBtn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "^{";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "'{+.'";
  }
  35% {
    content: "'@}-?'";
  }
  40% {
    content: "?{4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: "\\;1}]";
  }
  60% {
    content: "?{%:%";
    right: 0;
  }
  65% {
    content: "|{f[4";
    right: 0;
  }
  70% {
    content: "'4%0%'";
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: "'0%'";
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}

.realizations__boxOT--fromLeft {
  animation: slideInFromLeft 0.8s ease-out forwards;
}
.realizations__boxOT--fromLeftThree {
  animation: slideInFromLeft 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

.realizations__boxOT--fromRight {
  animation: slideInFromRight 0.8s ease-out forwards;
  // animation-delay: 0.2s;
}

.realizations__boxOT--fromBottom {
  animation: slideInFromBottom 0.8s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.realizations__hidden {
  opacity: 0;
  visibility: hidden;
}

.realizations__visible {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .realizations {
    h2 {
      font-size: 3rem;
    }

    &__boxText {
      font-size: 3rem;
    }
  }
  .uiBtn {
    --btn-padding: 2rem 2.5rem;
    --font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .realizations {
    &__box {
      flex-direction: row;

      &Img {
        img {
          object-fit: fill;
        }
      }
    }
  }
  .uiBtn {
    --btn-padding: 1.5rem 2.5rem;
    --font-size: 2.5rem;
  }

  .realizations__boxOT--fromRight {
    animation-delay: 0s;
  }

  .realizations__boxOT--fromBottom {
    animation-delay: 0s;
  }
}
