@import "../../styles/colors";

.footer {
  background-color: $white-smooth-hover;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    &Info {
      color: $dark-smooth;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    list-style: none;

    li {
      margin: 0 0.4rem;

      a {
        color: $dark-smooth;
        text-decoration: none;
        &:hover {
          color: $gold-main;
        }
      }
    }
  }
}
