$dark-smooth: #050505;
$dark-smooth-hover: #181616;
$grey-smooth: #c0c0c0;
$grey-smooth-2: #646060;
$grey-smooth-3: #383636;
$grey-smooth-4: #ebe6e6;
$grey-smooth-5: #f2f1f6;
$grey-smooth-6: #faf9fa;
$white-smooth: #fcfcfc;
$white-smooth-hover: #f4efef;
$red-main: #ed0a0ac0;
$gold-main: #cfb53b;
// $blue-main: #ffd700;
$blue: #6f42c1;

$blue-2: #a17ee1;
$orange: #fd7e14;
$elegant-dark-blue: #0a1e3d;
$elegant-dark-blue-2: #1c427b25;
$bgGray: #f2f1f6;
$blue-after: #5b96ac;

$light-blue-gradient: linear-gradient(
  to left bottom,
  rgba(144, 238, 144, 0.4),
  rgba(34, 139, 34, 0.717)
);
$light-blue-gradient-solid: linear-gradient(
  to left bottom,
  rgba(255, 182, 193, 0.4),
  rgba(255, 105, 180, 0.717)
);
$blue-gradient-solid: linear-gradient(
  to left bottom,
  rgba(144, 238, 144, 0.4),
  rgba(34, 139, 34, 0.717)
);
$blue-gradient-solid2: linear-gradient(
  to left bottom,
  rgba(135, 206, 235, 0.4),
  /* Jasny niebieski */ rgba(70, 130, 180, 0.717) /* Stalowy niebieski */
);
