$dark-smooth: #050505;
$dark-smooth-hover: #181616;
$grey-smooth: #c0c0c0;
$white-smooth: #fcfcfc;
$white-smooth-hover: #f4efef;
$red-main: #ed0a0ac0;
$gold-main: #cfb53b;
// $blue-main: #ffd700;

$blue-after: #5b96ac;

$light-blue-gradient: linear-gradient(
  45deg,
  rgba(41, 38, 37, 0.65),
  rgba(46, 50, 52, 0.65)
);
$light-blue-gradient-solid: radial-gradient(
  circle at top right,
  rgb(18, 19, 21) 0%,
  rgb(0, 212, 255) 100%
);
$blue-gradient-solid: linear-gradient(
  45deg,
  rgb(20, 105, 241),
  rgb(42, 10, 184)
);
